################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StructExample/obj/Debug
/.vs/StructExample/v15/Server/sqlite3
